body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.container{
    margin: auto;
    max-width: 75%;
}

.mainHeader{
    margin-bottom: 20px;
}

.listComp li{
    margin-bottom: 10px;
}

.listComp.win li img{
    margin-top: 25px;
}